.tw-followCard {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
}

.tw-followCard-header {
    display: flex;
    align-items: center;
    gap: 4px;
}

.tw-followCard-info {
    display: flex;
    flex-direction: column;
}

.tw-followCard-userName {
    opacity: .6;
}

.tw-followCard-avatar {
    height: 48px;
    width: 48px;
    border-radius: 100px;
}

.tw-followCard-Following {
    display: block;
}

.tw-followCard-button {
    margin-left: 16px;
    border: 0;
    border-radius: 100px;
    padding: 6px 16px;
    font-weight: bold;
    cursor: pointer;
}

.tw-followCard-button.isFollowing {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 120px;
}

.tw-followCard-button.isFollowing:hover {
    background-color: rgba(170, 170, 170, 0.068);
    color: red;
    border: 1px solid red;
}

.tw-followCard-button:hover{
    background-color: #3e71fc;
    transition: .3s ease background-color;

}
.tw-followCard-button.isFollowing:hover .tw-followCard-Following {
    display: none;
}

.tw-followCard-button.isFollowing:hover .tw-followCard-stopFollow {
    display: block;
}

.tw-followCard-stopFollow{
    display: none;
}